.criteria{
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
}
.criteria-wrap{
    padding-top: 30px;
}

.isActive::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 5px;
    background-color: var(--btn-color);
    left: -3px;
}
.criteria-content{
    width: 100%;
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
}
.step{
    padding-left: 10px;
    position: relative;
}
.step p{
    font-size: 14px;
}
.criteria-steps{
    border-left: 1px solid var(--main-color);
    height: fit-content;
}
.step-two, .step-three{
    margin-top: 30px;
}
.criteria-img{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 800px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* xs*/
@media (max-width: 475px){
    .criteria-wrap{
        padding-top: 30px;
    }
    .criteria-content{
        padding-left: 2px;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .step{
        padding-left: 10px;
    }
    .step p{
        text-align: start;
    }
    .para{
        text-align: start;
        font-size: 16px;
    }
    .title3{
        text-align: start;   
        font-family: var(--font-family-title);
     }
    .step-two, .step-three{
        margin-top: 20px;
    }
    .img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
/* xs*/
@media (min-width: 475px){
    
}
/* sm*/
@media (min-width: 640px){
    
}
/* md*/
/* @media (min-width: 768px){
 
}
/* lg*/
 /*@media (min-width: 1024px){
 
}
/* xl*/
/* @media (min-width: 1280px){
}
/* 2xl*/
/* @media (min-width: 1536px){
  
}
*/